<div class="container">
	<div class="row">
		<div class="col-sm-6" ng-if="vm.shippingAddressNotSupported">
			<h2>{{app.text.shippingAddressNotSupportedHeading}}</h2>
			<p>{{app.text.shippingAddressNotSupportedSubHeading}}</p>
		</div>
		<div class="col-sm-6" ng-if="!vm.shippingAddressNotSupported && !vm.addNewShippingAddress">
			<h2>{{app.text.shippingAddressHeading}}</h2>
			<p>{{app.text.shippingAddressSubHeading}}</p>
		</div>
		<div class="col-sm-6" ng-if="vm.addNewShippingAddress">
			<h2>{{app.text.addShippingAddressHeading}}</h2>
			<p>{{app.text.addShippingAddressSubHeading}}</p>
		</div>
		<div class="col-sm-6">
			<formly-form fields="vm.fields" model="vm.shippingDestination" form="vm.shippingAddressForm">
				<div class="row">
					<div class="col-xs-12 col-sm-6 shipping-address-cta">
						<a ng-click="vm.useMyBillingAddress()"
						   ng-if="!vm.shippingAddressNotSupported && !vm.addNewShippingAddress">
							{{app.text.useMyBillingAddress}}
						</a>
						<input type="submit" class="btn btn-default col-xs-12"
							   ng-click="vm.goBack()"
							   ng-if="vm.addNewShippingAddress"
							   value="{{app.text.goBackButton}}">
					</div>
					<div class="col-xs-12 col-sm-6 shipping-address-cta">
						<input type="submit" class="btn btn-primary col-xs-12"
								 ng-click="vm.submit()"
								 ng-disabled="vm.shippingAddressForm.$invalid" ng-if="!vm.addNewShippingAddress"
							   value="{{app.text.continue}}">
						<input type="submit" class="btn btn-primary col-xs-12"
							   ng-click="vm.submit()"
							   ng-disabled="vm.shippingAddressForm.$invalid" ng-if="vm.addNewShippingAddress"
							   value="{{app.text.saveAndContinue}}">
					</div>
				</div>
			</formly-form>
		</div>
	</div>
</div>
