<div class="container">
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6">
			<h1>{{app.text.registrationCollisionHeading}}</h1>
			<p>{{app.text.registrationCollisionContent1}}</p>
			<p>{{app.text.registrationCollisionContent2}}</p>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6">
			<br>
			<button type="button" class="btn btn-primary btn-block" ng-click="vm.signIntoExistingAccount()">{{app.text.signInWithExistingSecondaryCredential}}</button>
			<button type="button" class="btn btn-primary btn-block" ng-click="vm.registerUsingNewUsername()">{{app.text.registerUsingNewSecondaryCredential}}</button>
		</div>
	</div>
</div>
