/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-amex-name: 'sprite-amex';
$sprite-amex-x: 0px;
$sprite-amex-y: 94px;
$sprite-amex-offset-x: 0px;
$sprite-amex-offset-y: -94px;
$sprite-amex-width: 28px;
$sprite-amex-height: 17px;
$sprite-amex-total-width: 170px;
$sprite-amex-total-height: 405px;
$sprite-amex-image: '../images/sprite.png';
$sprite-amex: (0px, 94px, 0px, -94px, 28px, 17px, 170px, 405px, '../images/sprite.png', 'sprite-amex', );
$sprite-diners-name: 'sprite-diners';
$sprite-diners-x: 0px;
$sprite-diners-y: 116px;
$sprite-diners-offset-x: 0px;
$sprite-diners-offset-y: -116px;
$sprite-diners-width: 28px;
$sprite-diners-height: 17px;
$sprite-diners-total-width: 170px;
$sprite-diners-total-height: 405px;
$sprite-diners-image: '../images/sprite.png';
$sprite-diners: (0px, 116px, 0px, -116px, 28px, 17px, 170px, 405px, '../images/sprite.png', 'sprite-diners', );
$sprite-discover-name: 'sprite-discover';
$sprite-discover-x: 0px;
$sprite-discover-y: 138px;
$sprite-discover-offset-x: 0px;
$sprite-discover-offset-y: -138px;
$sprite-discover-width: 28px;
$sprite-discover-height: 17px;
$sprite-discover-total-width: 170px;
$sprite-discover-total-height: 405px;
$sprite-discover-image: '../images/sprite.png';
$sprite-discover: (0px, 138px, 0px, -138px, 28px, 17px, 170px, 405px, '../images/sprite.png', 'sprite-discover', );
$sprite-jcb-name: 'sprite-jcb';
$sprite-jcb-x: 0px;
$sprite-jcb-y: 160px;
$sprite-jcb-offset-x: 0px;
$sprite-jcb-offset-y: -160px;
$sprite-jcb-width: 22px;
$sprite-jcb-height: 17px;
$sprite-jcb-total-width: 170px;
$sprite-jcb-total-height: 405px;
$sprite-jcb-image: '../images/sprite.png';
$sprite-jcb: (0px, 160px, 0px, -160px, 22px, 17px, 170px, 405px, '../images/sprite.png', 'sprite-jcb', );
$sprite-maestro-name: 'sprite-maestro';
$sprite-maestro-x: 0px;
$sprite-maestro-y: 182px;
$sprite-maestro-offset-x: 0px;
$sprite-maestro-offset-y: -182px;
$sprite-maestro-width: 28px;
$sprite-maestro-height: 17px;
$sprite-maestro-total-width: 170px;
$sprite-maestro-total-height: 405px;
$sprite-maestro-image: '../images/sprite.png';
$sprite-maestro: (0px, 182px, 0px, -182px, 28px, 17px, 170px, 405px, '../images/sprite.png', 'sprite-maestro', );
$sprite-master-name: 'sprite-master';
$sprite-master-x: 0px;
$sprite-master-y: 204px;
$sprite-master-offset-x: 0px;
$sprite-master-offset-y: -204px;
$sprite-master-width: 28px;
$sprite-master-height: 17px;
$sprite-master-total-width: 170px;
$sprite-master-total-height: 405px;
$sprite-master-image: '../images/sprite.png';
$sprite-master: (0px, 204px, 0px, -204px, 28px, 17px, 170px, 405px, '../images/sprite.png', 'sprite-master', );
$sprite-unionpay-name: 'sprite-unionpay';
$sprite-unionpay-x: 0px;
$sprite-unionpay-y: 226px;
$sprite-unionpay-offset-x: 0px;
$sprite-unionpay-offset-y: -226px;
$sprite-unionpay-width: 28px;
$sprite-unionpay-height: 17px;
$sprite-unionpay-total-width: 170px;
$sprite-unionpay-total-height: 405px;
$sprite-unionpay-image: '../images/sprite.png';
$sprite-unionpay: (0px, 226px, 0px, -226px, 28px, 17px, 170px, 405px, '../images/sprite.png', 'sprite-unionpay', );
$sprite-visa-name: 'sprite-visa';
$sprite-visa-x: 0px;
$sprite-visa-y: 248px;
$sprite-visa-offset-x: 0px;
$sprite-visa-offset-y: -248px;
$sprite-visa-width: 28px;
$sprite-visa-height: 17px;
$sprite-visa-total-width: 170px;
$sprite-visa-total-height: 405px;
$sprite-visa-image: '../images/sprite.png';
$sprite-visa: (0px, 248px, 0px, -248px, 28px, 17px, 170px, 405px, '../images/sprite.png', 'sprite-visa', );
$sprite-confirmation-check-name: 'sprite-confirmation-check';
$sprite-confirmation-check-x: 0px;
$sprite-confirmation-check-y: 0px;
$sprite-confirmation-check-offset-x: 0px;
$sprite-confirmation-check-offset-y: 0px;
$sprite-confirmation-check-width: 49px;
$sprite-confirmation-check-height: 49px;
$sprite-confirmation-check-total-width: 170px;
$sprite-confirmation-check-total-height: 405px;
$sprite-confirmation-check-image: '../images/sprite.png';
$sprite-confirmation-check: (0px, 0px, 0px, 0px, 49px, 49px, 170px, 405px, '../images/sprite.png', 'sprite-confirmation-check', );
$sprite-dynamic-button-name: 'sprite-dynamic-button';
$sprite-dynamic-button-x: 0px;
$sprite-dynamic-button-y: 54px;
$sprite-dynamic-button-offset-x: 0px;
$sprite-dynamic-button-offset-y: -54px;
$sprite-dynamic-button-width: 170px;
$sprite-dynamic-button-height: 35px;
$sprite-dynamic-button-total-width: 170px;
$sprite-dynamic-button-total-height: 405px;
$sprite-dynamic-button-image: '../images/sprite.png';
$sprite-dynamic-button: (0px, 54px, 0px, -54px, 170px, 35px, 170px, 405px, '../images/sprite.png', 'sprite-dynamic-button', );
$sprite-masterpass-logo-name: 'sprite-masterpass-logo';
$sprite-masterpass-logo-x: 0px;
$sprite-masterpass-logo-y: 270px;
$sprite-masterpass-logo-offset-x: 0px;
$sprite-masterpass-logo-offset-y: -270px;
$sprite-masterpass-logo-width: 150px;
$sprite-masterpass-logo-height: 44px;
$sprite-masterpass-logo-total-width: 170px;
$sprite-masterpass-logo-total-height: 405px;
$sprite-masterpass-logo-image: '../images/sprite.png';
$sprite-masterpass-logo: (0px, 270px, 0px, -270px, 150px, 44px, 170px, 405px, '../images/sprite.png', 'sprite-masterpass-logo', );
$sprite-mp-logo-name: 'sprite-mp_logo';
$sprite-mp-logo-x: 0px;
$sprite-mp-logo-y: 319px;
$sprite-mp-logo-offset-x: 0px;
$sprite-mp-logo-offset-y: -319px;
$sprite-mp-logo-width: 113px;
$sprite-mp-logo-height: 16px;
$sprite-mp-logo-total-width: 170px;
$sprite-mp-logo-total-height: 405px;
$sprite-mp-logo-image: '../images/sprite.png';
$sprite-mp-logo: (0px, 319px, 0px, -319px, 113px, 16px, 170px, 405px, '../images/sprite.png', 'sprite-mp_logo', );
$sprite-sprite-name: 'sprite-sprite';
$sprite-sprite-x: 0px;
$sprite-sprite-y: 340px;
$sprite-sprite-offset-x: 0px;
$sprite-sprite-offset-y: -340px;
$sprite-sprite-width: 150px;
$sprite-sprite-height: 65px;
$sprite-sprite-total-width: 170px;
$sprite-sprite-total-height: 405px;
$sprite-sprite-image: '../images/sprite.png';
$sprite-sprite: (0px, 340px, 0px, -340px, 150px, 65px, 170px, 405px, '../images/sprite.png', 'sprite-sprite', );
$spritesheet-width: 170px;
$spritesheet-height: 405px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($sprite-amex, $sprite-diners, $sprite-discover, $sprite-jcb, $sprite-maestro, $sprite-master, $sprite-unionpay, $sprite-visa, $sprite-confirmation-check, $sprite-dynamic-button, $sprite-masterpass-logo, $sprite-mp-logo, $sprite-sprite, );
$spritesheet: (170px, 405px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
