
// Carousel Module Styles
$mc-carousel-padding: 20px;

$carousel-selected-bg-color: #000;
$carousel-active-bg-color: lighten($carousel-selected-bg-color, 50%);

$carousel-arrow-side-padding: 6px;
$carousel-arrow-btn-bg-color: darken($gray-lighter, 50%);

// Carousel Shipping Style
$mc-carousel-shipping-height: 105px;
$mc-carousel-shipping-padding: 20px;
$mc-carousel-shipping-background-color: #fff;

$mc-carousel-shipping-list-item-info-container-border: 1px solid #c5c5c5;
$mc-carousel-shipping-list-bg-color: #f7f6f6;

%cursor-pointer {
	cursor: pointer;
}

.mc-carousel {
	position: relative;
    overflow: hidden;
}

// Add this class to mc-carousel directive to make it visible when hovering
// on the carousel. It looks odd to show the carousel arrow with the carousel
// items being loaded
.mc-carousel-loaded {
	&:hover {
		.mc-carousel-prev,
		.mc-carousel-next {
			display: block;
		}
	}
}

.mc-carousel-shipping-list {
	@include padding(20px 0);
	@include margin(null null 0 null);
	background: $mc-carousel-shipping-list-bg-color;
	position: relative;
    animation: carousel 30s infinite;
}

.mc-carousel-shipping-list-item {
	@include padding(null $mc-carousel-shipping-padding);
	width: 100%;
    display: inline-block;
}

.mc-carousel-shipping-list-item-info-container {
	@extend %cursor-pointer;
	@include border-top-radius(5px);
	@include border-right-radius(5px);
	@include border-bottom-radius(5px);
	@include border-left-radius(5px);
	@include padding(20px 20px 40px 20px);
	border: $mc-carousel-shipping-list-item-info-container-border;
	background: $mc-carousel-shipping-background-color;
}

.mc-carousel-shipping-list-info {
	@include margin(null null 0 null);
}

.mc-carousel-prev,
.mc-carousel-next {
	@include position(absolute, 62px null null null);
	display: none;

	&:hover {
		@extend %cursor-pointer;
	}
}

.mc-carousel-prev {
	@include triangle(40px 15px, $carousel-arrow-btn-bg-color, left);
	left: $carousel-arrow-side-padding;

	&:hover {
		@include triangle(40px 15px, $carousel-selected-bg-color, left);
	}
	&:active {
		@include triangle(40px 15px, $carousel-active-bg-color, left);
	}
}

.mc-carousel-next {
	@include triangle(40px 15px, $carousel-arrow-btn-bg-color, right);
	right: $carousel-arrow-side-padding;

	&:hover {
		@include triangle(40px 15px, $carousel-selected-bg-color, right);
	}
	&:active {
		@include triangle(40px 15px, $carousel-active-bg-color, right);
	}
}
