// for registrationConfirmation module specific styling
//
$registration-success-border-width: 2px;
$registration-success-margin-top: 60px;
$registration-success-padding-bottom: 50px;

$registration-success-subheadings-margin-bottom: 30px;

@include do-scale-sprite($sprite-dynamic-button, map-get($registration-success-dynamic-button, scale-factor));

.registration-success {
	background-color: $panel-bg;  // #fff
	border-color: $brand-success; // #4db050
	border-width: $registration-success-border-width;
	margin-top: $registration-success-margin-top;
	position: relative; // allow child elements to be absolute positioned inside
}

.registration-success-subheading {
	margin-bottom: $registration-success-subheadings-margin-bottom;
}

.sprite-confirmation-check {
	position: absolute; // position absolute so it can be moved to top of container
	top: (-1 * $sprite-confirmation-check-height) / 2; // move center to top of container
	left: 0;      // center horizontally
	right: 0;     // center horizontally
	margin: auto; // center horizontally
}

.registration-success-dynamic-button {
	background-size: map-get($registration-success-dynamic-button, background-size-x) auto;
}
