<div class="container">
	<div class="row">
		<div class="col-sm-12 col-xs-12">

			<div class="col-sm-5 col-xs-5">

				<h2 ng-hide="vm.flagInvalidAutCodeMessage || vm.flagAccountLockMessage">{{app.text.uniqueCodeTitle}}</h2>
				<h4 ng-hide="vm.flagInvalidAutCodeMessage || vm.flagAccountLockMessage">{{app.text.forgottenPasswordDescription}}</h4>

				<div class="well" ng-show="vm.flagInvalidAutCodeMessage">
					<span>Oops!</span>
					<p ng-bind-html="vm.invalidAutCodeMessage"></p>
				</div>

				<div class="well" ng-show="vm.flagAccountLockMessage">
					<span>Sorry!</span>
					<p ng-bind-html="vm.accountLockMessage"></p>
				</div>

			</div>

			<div class="col-sm-7 col-xs-7">

				<formly-form fields="vm.uniqueCodefields" form="vm.uniqueCodeForm" model="vm.verifyAuthModel"
							 options="vm.options">
					<div class="error-messages">
						{{vm.uniqueCodeErrorMessage}}
					</div>
				</formly-form>

				<div class="col-sm-12 col-xs-12" ng-show="app.config.primaryConfigOTP === 'SMS'">
					<div class="col-sm-6 col-xs-6  pull-left">
						<button class="col-xs-12 btn btn-link" ng-click="vm.verifyByPhone()">
							{{app.text.uniqueCodeTextMeAgain}}
						</button>
					</div>
					<div class="col-sm-6 col-xs-6">
						<button class="col-xs-12 btn btn-link" ng-click="vm.verifyByEmail()">
							{{app.text.uniqueCodeEmailMeInstead}}
						</button>
					</div>
				</div>

				<div class="col-sm-12 col-xs-12 pull-right" ng-show="app.config.primaryConfigOTP === 'EMAIL'">
					<div class="col-sm-6 col-xs-6">
						<button class="col-xs-12  btn btn-link" ng-click="vm.verifyByEmail()">
							{{app.text.uniqueCodeEmailMeAgain}}
						</button>
					</div>
					<div class="col-sm-6 col-xs-6">
						<button class="col-xs-12 btn btn-link" ng-click="vm.verifyByPhone()">
							{{app.text.uniqueCodeTextMeInstead}}
						</button>
					</div>
				</div>

				<div class="col-sm-12 col-xs-12 well" ng-if="vm.showVerifyAuthForm">
					<span>{{vm.verifyOptionsFormDescription}}</span>
					<formly-form fields="vm.verifyOptionsFields" form="vm.verifyOptionsForm"
								 model="vm.verifyOption" options="vm.options">
						<div>
							<button class="col-xs-12 btn btn-primary"
									ng-disabled="vm.verifyOptionsForm.$invalid"
									type="submit" ng-click="vm.onResendUniqueCode()">
								{{vm.buttonText}}
							</button>
						</div>
					</formly-form>
				</div>

				<formly-form fields="vm.secondarySecurityfields" form="vm.secondarySecurityForm"
							 model="vm.verifySecondarySecurityModel" ng-show="app.config.secondary2faConfig !== 'NONE'"
							 options="vm.secondaryOptions">
					<div class="error-messages">
						{{vm.secondarySecurityErrorMessage}}
					</div>
				</formly-form>

				<div class="row">
					<div class="col-sm-12 col-xs-12 margin">
						<div class="col-xs-6 pull-right">
							<button class="col-xs-12 btn btn-primary"
									ng-disabled="vm.secondarySecurityForm.$invalid"
									type="submit" ng-click="vm.verifyAuthCode()">
								{{app.text.continueButton}}
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
