<div class="col-xs-12">
	<h2 ng-if="!vm.isTemplateUpdated">{{app.text.termsConditionHeader}}</h2>
	<h2 ng-if="vm.isTemplateUpdated">{{app.text.termsConditionUpdatedHeader}}</h2>

	<!--TODO: generate text of Terms here-->
	<div class="container">
		<div class="well" ng-bind-html="app.config.termsURL"/>
	</div>

	<formly-form fields="vm.fields" model="vm.terms" form="vm.userTNC">
		<div class="row">
			<div class="col-xs-6">
				<a class="btn btn-link pull-left" ng-click="vm.termsConditionCancelled()">
					<i class="fa fa-chevron-circle-left"></i>{{app.text.previousButton}}
				</a>
			</div>
			<div class="col-xs-6">
				<input class="btn btn-primary pull-right" ng-disabled="vm.userTNC.$invalid"
					   type="submit"
					   value="{{app.text.acceptButton}}" ng-click="vm.termsConditionAccepted()">
			</div>
		</div>
	</formly-form>
</div>
