
/**
 * Places blocks layout on the Verify Payment Page
 */

$verify-payment-add-card-top-margin: 50px;
$verify-payment-add-address-top-margin: 53px;
$verify-payment-cta-container-top-margin: 50px;

.verify-payment {

	.verify-payment-add-card {
		margin-top: $verify-payment-add-card-top-margin;
		display: inline-block;
	}

	.verify-payment-add-address {
		margin-top: $verify-payment-add-address-top-margin;
	}

	.verify-payment-cta-container {
		@include margin($verify-payment-cta-container-top-margin null null null);
	}
}

